   #container 
  {
    width: 1200px;
    height: 700px;
    margin: auto;  
  }


#main-header
    {
      width: 1200px;
      height:100px;
      margin: auto;
      background-image:url(miestecka.jpg);
     }

#quote
{
    padding: 10px 0 0 30px;
    font-family: Verdana;
    font-size: 30px;
    color: #000066;
}
     
#line
{
    width: 1200px;
    height: 50px;
    background: #000066;
} 

#border
{ 
    width:1190px;
    height: 225px;
    margin: auto;
    border-style: solid;
    border-width: 5px;
    border-color: #000066;
    margin-top: 10px; 
    border-radius: 5px;  
}

#nadpis
{
    padding-top: 30px;
    padding-left: 30px;
    font-family: Verdana;
    font-size: 20px;
    color: #000066;   
}

#text
{
    padding-top: 20px;
    font-size: 15px;
}